body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: Helvetica, sans-serif;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}

.navoptions {
    display: flex;
    list-style: none;
    gap: 30px;
    color: rgb(244, 244, 244);
}

.navbar ul li {
    font-size: 14px;
    padding: 5px 0;
    cursor: pointer;
    white-space: nowrap;
}

.navbar ul li:hover{
    color: rgb(126, 126, 126);
}

.brand{
    gap: 20px;
    align-items: baseline;
    display: flex;
}

.name {
    color: rgb(244, 244, 244);
    padding: 5px 0;
}

.designer {
    color: rgba(245, 245, 245, 0.59);
}

.marquee-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    cursor: grab;
    user-select: none;
}

.marquee-container:active {
    cursor: grabbing;   
}

.marquee-content {
    display: flex;
    width: max-content;
    flex-wrap: nowrap;
}

.marquee-content img {
    height: 200px;
    margin: 25px 8px;
    z-index: -1;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }

    
}

.title{
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: rgb(37, 37, 37);
    background-color: rgb(244, 244, 244);
}

.content{
    width: 90%;
}

.content h1{
    font-size: 80px;
    color: white;
}

.gd{
    margin-top: -50px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.355);
}

.desc{
    text-align: justify;
    font-style: normal;
    font-size: 30px;
    color: white;
    padding-left: 0;
    padding-right: 20%;
}

.socials {
    padding: 50px 0;
    list-style: none;
    display: flex;
    gap: 50px;
    flex-direction: column;
    color: white;
}

.socials li{
    font-size: 20px;
}
